.container{
	height: calc(100% - 157px);
	height: -moz-calc(100% - 157px);
	height: -webkit-calc(100% - 157px);
	overflow: auto;
}
#html-section{
	height: 100%;
}
footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: #999999;
}
footer a{
	color: #999999;
}
/*底部公共按钮样式*/
.button-bottom{
	display: block;
	width: 650px;
  height: 100px;
  border-radius: 10px;
  background: linear-gradient(to right, #fab900, #ffd600);
  display: block;
  margin: 0 auto;
  border: none;
  font-size: 36px;
  margin-bottom: 57px;
}

.main-color{
	color: #F29B2F !important;
}

.second_color{
	color: #FF793B !important;
}
.bg-color{
	background-image: linear-gradient(-180deg, #FFBC00 0%, #FFB000 100%);
}


.font24{
	font-size: 24px;
}
.font25{
	font-size: 25px;
}
.font26{
	font-size: 26px;
}
.font28{
	font-size: 28px;
}
.font32{
	font-size: 32px;
}
.font42{
	font-size: 42px;
}
.border-bottom{
	border-bottom: 1px solid #E1E1E1;
}
.border-top{
	border-top: 1px solid #E1E1E1;
}
.border-bottom-no{
	border-bottom: none !important;
}
.bg-content-white{
	background-color: #FFFFFF;
	overflow: hidden;
}

.dis-block{
	display: block !important;
}

header{
  line-height: 100px;
  height: 100px;
  padding: 0px 26px;
  background-color: #F29B2F;
  position: relative;
  vertical-align: middle;
}
header a{
	color: #352A2B;
	position: relative;
	z-index: 2;
}
header a.goBack{
  display: inline-block;
  height:100%;
  width: 42px;
  background: url("../../img/direct/icon---Back.png") no-repeat;
  background-position: center;
  color: #352A2B;
  vertical-align: middle;
}
header span{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #352A2B;
  position: absolute;
  left: 0px;
  top: 0px;
}

/*顶部搜索*/
header input,header a.searchBox{
	border: none;
	border-radius: 100px;
	line-height: 68px;
	width:100%;
	font-size: 32px;
	padding-left: 95px;
	display: inline-block;
	box-sizing: border-box;
	background:url(../../img/icon/icon_search@2x.png) no-repeat center left;
	background-color: #FFFFFF;
	background-position-x: 30px;
}
header input::-webkit-input-placeholder,header input::-moz-placeholder,header a.searchBox{
	color: #1C252A;
}
/*swiper*/
.swiper-wrapper{
  height: 632px;
}
.swiper-slide{
	background-repeat: no-repeat !important;
	background-size: 100% !important;
}
.swiper-pagination-bullet{
  background-color: #ffffff;
  width: 17px;
  height: 17px;
  border: 1px solid #E1E1E1;
  opacity: inherit;
}
.swiper-pagination-bullet-active{
  background-color: #ffbc00;
  width: 30px;
  border-radius: 8.5px;
  border: none;
}
/* 弹框公共样式-（确定，取消） */
.mask{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  display: none;
}
.mask .content{
  margin-top: 410px;
  width: 540px;
  height: 220px;
  border-radius: 25px;
  background: #fff;
  z-index: 10;
  margin-left: 105px;
}
.inform{
  height: 130px;
  line-height: 130px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  font-size: 38px;
  color: #000;
}
.sure{
  display: block;
  width: 269px;
  float:right;
  border-right: 2px solid #e1e1e1;
  font-size: 38px;
  color: #ffb800;
  text-align: center;
  line-height: 90px;
}
.cancel{
  display: block;
  width: 269px;
  float: left;
  font-size: 28px;
  color: #000;
  font-size: 38px;
  text-align: center;
  line-height: 90px;
}
/* 用于校验单的弹框 */
#dialogs,#dialogs-form{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  display: none;
  z-index: 2;
}
.mask-content{
  top: 330px;
  width: 540px;
  /*height: 220px;*/
  background: #fff;
  border-radius: 25px;
  margin-left: 105px;
  overflow: hidden;
  position: fixed;
}
.mask-content p{
  height: 110px;
  line-height: 110px;
  text-align: center;
  font-size: 32px;
  color: #000;
  border-bottom:1px solid #e1e1e1;
}
.mask-content span,.mask-content span a{
  height: 110px;
  line-height: 110px;
  display: block;
  text-align: center;
  font-size: 32px;
  color: #ffb800;
  text-decoration: none;
}
/*公共底部*/
.footer{
  height: 120px;
  background-color: #fff;
  display: flex;
  display: -webkit-flex;
  padding-top:10px;
  border-top: 1px solid #E1E1E1;
  
}
.footer  a{
  font-size: 24px;
  color: #352A2B;
  display: block;
  height: 60px;
  padding-top: 60px;
  cursor:pointer;
  flex: 1;
  -webkit-flex: 1;
  text-align: center;
}
.a1{
  background:url(../../img/index/index.png) no-repeat center top;
}
.a2{
  background:url(../../img/index/business.png) no-repeat center top;
}
.a3{
  background:url(../../img/index/sort.png) no-repeat center top;
}
.a4{
  background:url(../../img/index/cast.png) no-repeat center 8px;
}
.a5{
  background:url(../../img/index/center.png) no-repeat center top;
}
.a1.current{
  background:url(../../img/index/index2.png) no-repeat center top;
}
.a2.current{
  background:url(../../img/index/business2.png) no-repeat center top;
}
.a3.current{
  background:url(../../img/index/sort2.png) no-repeat center top;
}
.a4.current{
  background:url(../../img/index/cast2.png) no-repeat center 8px;
}
.a5.current{
  background:url(../../img/index/center2.png) no-repeat center top;
}

/*首页布局 common*/
.wrapper{
  height: calc(100% - 120px);
  height: -moz-calc(100% - 120px);
  height: -webkit-calc(100% - 120px);
  overflow: auto;
}

.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
