.infor table{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	background: #FFFFFF;
}
.infor table thead th{
	color: #666666;
	font-size: 24px;
	padding: 42px 0px 24px;
	line-height: 1;
	text-align: center;
}
.infor table tbody td{
	color:#333333;
	font-size: 36px;
	line-height: 1;
	padding-bottom: 34px;
	font-weight: bold;
}

.progress {
	margin-top: 20px;
	padding: 60px 50px;
}

.progress ul.trail-text li{
	position: relative;
	background: #FFFFFF;
	color: #999999;
	font-size: 28px;
}
.progress ul.trail-text li:last-child span.text{
	border-left: none;
}

.progress ul.trail-text i{
	position: absolute;
	top: 0px;
	width: 20px;
	height: 20px;
	background-color: #CCCCCC;
	border-radius: 50%;
	left:10px
}
.progress ul.trail-text i.finish{
	background-color: #EB9C6B;
}
.progress ul.trail-text i.finish + span{
	border-color: #EB9C6B;
}
.progress ul.trail-text i.current{
	background-color: #EB9C6B;
	border: 10px solid rgba(255,255,255,0.5);
	left: 0px;
}

/*.progress ul.trail-text li:nth-last-child(1) i,.progress ul.trail-text li:nth-last-child(2) i{
	border:10px solid #d6d6d6;
	background-color: #FFFFFF;
}*/

.progress ul.trail-text span{
	padding-left:38px;
	word-break: break-all;
	display: block;
	border-left: 1px solid #d6d6d6;
	margin-left: 20px;
	font-size: 28px;
}
.progress ul.trail-text span > b{
	font-size: 24px;
	color: #5faef0;
	font-weight: normal;
}
.progress ul.trail-text span > div{
	padding: 0px 0px 30px 0px;
	font-size: 20px;
	margin-top: 16px;
	color: #999999;
	font-weight: normal;
}
.progress ul.trail-text i.finish + span{
	color: #333333;
}
.progress ul.trail-text i.current + span{
	color: #333333;
	font-weight: bold;
}


.tips{
	margin: 30px;
}
.tips dt{
	color: #666666;
	font-size: 24px;
}
.tips dd{
	font-size: 20px;
	color: #999999;
}

/*已通过状态*/
#borrowTip{
  margin-top: 16px;
  font-size: 24px;
  color: #999999;
}
