.tabUl{
  background: #FFFFFF;
  text-align: center;
  font-size: 0px;
}
.tabUl li{
  width: 50%;
  font-size: 28px;
  display: inline-block;
  cursor: pointer;
  line-height: 76px;
}
.tabUl li a{
  display: block;
  color: #666666;
}
.tabUl li.active a{
  color: #EB9C6B;
}

.tabUl li.active:after{
  display: block;
  content: "";
  height: 4px;
  width: 60px;
  background: #EB9C6B;
  margin: 0 auto;
}

.list-box{
  margin-top: 20px;
}
.repayList li{
  margin-left: 30px;
  font-size: 0px;
}
.repayList li > div{
  display: inline-block;
  vertical-align: middle;
}
.repayList li div.max-width{
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
}
.repayList li div.max-width.secPart{
  /*width: 92.5%;
  margin-left: 20px;*/
}
.repayList li div.max-width > div{
  display: inline-block;
  font-size: 24px;
  color: #666666;
  line-height: 1;
}

.repayList li div.max-width > div img{
  padding-right: 30px;
}
.repayList li div.max-width > div h6{
  font-size: 32px;
  color: #333333;
  line-height: 1;
  margin-bottom: 30px;
  padding-top: 40px;
}
.repayList li div.max-width > div > div{
  margin-bottom: 12px;
}
.repayList li div.max-width > div > div span:first-child{
  padding-right: 15px;
}
.repayList li div.max-width > div > div span+span{
  font-size: 28px;
  color: #999999;
  line-height: 1;
}
.repayList li div.max-width > div em{
  font-size: 28px;
  color: #EB9C6B;
}
.repayList li div.max-width > div.longWidth{
  width: 73%;
}
.repayList li div.right-box{
  vertical-align: top;
  text-align: right;
  top: 50px;
  position: relative;
  width: 27%;
}
.repayList li div.right-box small{
  font-size: 24px;
  color: #5FAEF0;
  text-align: right;
  margin-right: 30px;
}
.repayList li div.right-box a{
  display: block;
  color: #FFFFFF;
  font-size: 24px;
  background: #EB9C6B;
  line-height: 40px;
  width: 120px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  top: 82px;
  right: 30px;
}
.repayList li div.right-box a.disabled{
  background: #CCCCCC;
}

.check-box input[type=checkbox]{
  display: none;
}
.check-box input[type=checkbox]+label{
  display: inline-block;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: url(../../img/btn/border_normal.png) center no-repeat;
}
.check-box input[type=checkbox]:checked+label{
  background: url(../../img/btn/border_selected.png) center no-repeat;
}

.foot-box{
  text-align: left;
  background-color: #FFFFFF;
}
.foot-box .check-box input[type=checkbox]+label{
  margin-left: 30px;
  width: auto;
  height: auto;
  padding-left: 42px;
  background-position: center left;
  color: #666666;
  font-size: 24px;
}
.totalAmount{
  font-size: 28px;
  color: #EB9C6B;
  line-height: 100px;
  margin-left: 30px;
}

.foot-box a{
  width: 294px;
  background: #EB9C6B;
  color: #FFFFFF;
  font-size: 32px;
  text-align: center;
  line-height: 100px;
}


/*还款详情*/
.repayAmount{
  text-align: center;
  color: #999999;
  font-size: 28px;
  padding-top: 20px;
}
.repayAmount h2{
  font-size: 66px;
  color: #EB9C6B;
  line-height: 1;
  padding: 20px 0px 40px;
}

/*已通过状态*/
#borrowTip{
  margin-top: 16px;
  font-size: 24px;
  color: #999999;
}
